MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/?retryWrites=true&w=majority
MONGODB_DB=paste_logbook
MONGODB_COLLECTION=records
APP_PASSWORD=change_this_password
AUTH_SALT=change_this_salt
ALLOWED_DEV_ORIGINS=http://localhost:3000,http://192.168.28.11:3000
LONGCAT_API_KEY=YOUR_APP_KEY
LONGCAT_MODEL=LongCat-Flash-Chat
LONGCAT_API_URL=https://api.longcat.chat/openai/v1/chat/completions
